/* ADD YOUR CUSTOM CSS TO THIS FILE BELOW */
.one {
	background-color: #717679;
}

.two {
			  text-align: center;
			  color: white;
			  font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
			  padding-top: 100px;
			  padding-bottom: 100px;
		}

.twos {
			  text-align: center;
			  color: #1A472A;
			  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
			  padding-top: 50px;
			  padding-bottom: 100px;
		}

.title {
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}



h2 {
	color: #641E1E;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	padding: 5px;
	text-align: center;
}

h4 {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}


h5 {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	text-align: center;
	padding-top: 5px;
}


h6 {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.price {
	text-align: center;
}

.geartalk {
	text-align: center;
	margin-top: 250px;
	margin-bottom: 250px;
	padding-left: 90px;
	padding-right: 90px;
}


.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
